/* CSS Document www.divcss5.com */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em{ margin:0;padding:0;border:0;}
ul, ol, li{ list-style:none;}
body{ font-size:12px;font-family:arial, Helvetica, sans-serif;margin:0 auto;}
table{ border-collapse:collapse;border-spacing:0;}
.clearfloat{ height:0;font-size:1px;clear:both;line-height:0;}
a{ color:#333;text-decoration:none;}
a:hover{ color:#ef9b11;text-decoration:underline;}
#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}
h2{ FONT-WEIGHT:normal;FONT-SIZE:100%}
.hidden{ DISPLaY:none}
.pnav-title{ PaDDING-LEFT:26px;FONT-WEIGHT:bold;BaCKGROUND:url(bg06.jpg) no-repeat;MaRGIN-BOTTOM:10px;WIDTH:166px;LINE-HEIGHT:29px;HEIGHT:29px}
.pnav-list{ MaRGIN:0px 0px 10px 9px;WIDTH:183px}
.pnav-list a{ DISPLaY:inline-block;FONT-WEIGHT:bold;BaCKGROUND:url(bg07.jpg) no-repeat;MaRGIN-BOTTOM:6px;WIDTH:21px;LINE-HEIGHT:21px;FONT-FaMILY:arial;HEIGHT:21px;TEXT-aLIGN:center}
.pnav-list a{ COLOR:#69696a}
.pnav-list a:visited{ COLOR:#69696a}
.pnav-cnt{ BaCKGROUND:url(bg11.png) repeat-y;MaRGIN:0px 0px 10px 10px;WIDTH:182px;margin:20px auto;BORDER-BOTTOM:#dcdddd 1px solid}
/*.pnav-box{ BaCKGROUND:url(bg08.jpg)  repeat-y}*/
.pnav-box{}
.box-title{ PaDDING-LEFT:7px;LINE-HEIGHT:32px;HEIGHT:32px}
.box-title .btn-unfold{ MaRGIN-TOP:10px}
.box-title .btn-fold{ MaRGIN-TOP:10px}
.pnav-letter{ FONT-WEIGHT:bold;FONT-SIZE:20px;COLOR:#c00;FONT-FaMILY:arial}
.btn-unfold{ BaCKGROUND:url(bg10.png) no-repeat;FLOaT:left;WIDTH:13px;MaRGIN-RIGHT:5px;HEIGHT:13px}
.btn-fold{ BaCKGROUND:url(bg09.png) no-repeat;FLOaT:left;WIDTH:13px;MaRGIN-RIGHT:5px;HEIGHT:13px}
.box-list{ PaDDING-RIGHT:0px;PaDDING-LEFT:0px;PaDDING-BOTTOM:10px;PaDDING-TOP:10px}
.box-list LI{ PaDDING-LEFT:23px;LINE-HEIGHT:25px}
.box-list LI .btn-unfold{ MaRGIN-TOP:5px}
.box-list LI .btn-fold{ MaRGIN-TOP:5px}
.box-list H2{ COLOR:#1e50a2}
.box-list H2 a{ COLOR:#1e50a2}
.box-list H2 a:visited{ COLOR:#1e50a2}
.box-list .off{ COLOR:#727171}
.box-list .off:visited{ COLOR:#727171}
#wrap{  
    width:1824px;  
    height:100%;  
    margin:0 auto;  
}  
#header{  
    margin:20px;  
    height:10px;  
    border:solid 0px #0000FF;  
}  
#container{  
    position:relative;  
    margin:0px;  
    height:400px;  
}  
#left_side{  
    position:absolute;  
    top:0px;  
    left:20px;      
    width:350px;  
    height:100%;  
    border:1px dashed #584848;
}  
#content{  
    margin:0px 190px 0px 390px;  
    border:solid 0px #0000FF;   
    height:100%;  
}  
#right_side{  
    position:absolute;  
    top:0px;  
    margin:0px 190px 0px 1200px; 
    border:1px dashed #584848;
    width:250px;  
    height:100%;  
}  

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	width:5%;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

			
.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;   
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}

.investment_f{ width:100%px; margin:0px auto}
.investment_f .investment_title{height:44px;  width:960px; overflow:hidden}
.investment_title div{ width:131px; height:44px; background:url(../images/invest_detail_22.png); float:left; margin-right:6px; display:inline; font-size:14px; font-weight:bold; text-align:center; line-height:46px; color:#555; cursor:pointer; margin-left:1px;}
.investment_title a,.investment_title a:link,.investment_title a:visited,.investment_title a:hover{ color:#555;width:131px; height:44px;display:inline-block}
.investment_title div.on a,.investment_title div.on a:link,.investment_title div.on a:visited,.investment_title div.on a:hover{ color:#f70}
.investment_title div.on{background:url(../images/invest_detail_18.png); color:#f70}
.investment_con{ clear:both; background:#fff; border:1px solid #EDEDED;padding:20px;}
.investment_con_list{display:none;}